<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="ApiKey" value="YourAPIKey"/>
    <add key="AppToken" value="YourAPIToken"/>
    <add key="AppSecret" value= "YourAppSecret"/>
    <add key="WaitingTimeForConverting" value="10000"/><!--time in milliseconds-->
    <add key="ConvertedFileExtension" value=".conv"/><!-- extension of the converted file-->
   </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>